*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito', sans-serif;
    width: 100vw;
    height: 95vh;
    background-color: whitesmoke;
    overflow-y: hidden;
}
.home-page{
    position: relative;
    width: inherit;
    height: inherit;
    text-align: center;
}
.header-container{
    position: fixed;
    bottom: 70%;
    left: 50%;
    transform: translate(-50%,0%);
}
.main-header{
    padding-top: 180px;
    font-size: 40px;
    font-weight: 770;
    transition: .7s;
    animation: flyInTop;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
    white-space: nowrap;
}
@keyframes flyInTop {
    0%{
        opacity: 0;
        transform: translateY(-35px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.main-header:hover{
    transform: translateY(-10px);
}
#main-section{
    position: absolute;
    height: 300px;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.usrInput{
    margin-top: 80px;
    width: 60%;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 5px;
}
.btn{
    position: inherit;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50% );
    display: block;
    text-transform: uppercase;
    padding: 10px 45px;
    border-radius: 100px;
    transition: all .2s;
    color: #fff;
    background-color: #000;
    border: none;
    letter-spacing: 2px;
    text-align: center;
    animation: fadeInBottom .75s ease-in .6s;
    animation-fill-mode: backwards;
}
@keyframes fadeInBottom {
    0%{
        opacity: 0;
        transform: translate(-50%,30% );
    }
    100%{
        opacity: 1;
        transform: translate(-50%,-50% );
    }
}
.btn:hover{
    transform: translate(-50%,-57%);
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.btn:active{
    transform: translate(-50%,-52%);
}
#usr-console{
    display: block;
   margin-top: 100px;
   color: red;
}
@media only screen and (max-width:800px){
    .header-container{
        position:fixed;
        top: 5%;
    }
    .main-header{
        font-size: 30px;
        white-space: nowrap;

    }
    #main-section{
        width: 70%;
    }
    .usrInput{
        letter-spacing: 2px;
    }
    
}